html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: white;
  font-size: 16px;
}
.min_width {
  min-width: 900px;
}
.title {
  background-color: #ff8c69;
  text-align: center;
  font-family: "幼圆";
  color: white;
  display: flex;
  justify-content: center;
}
.phone-title {
  background-color: #ff8c69;
  text-align: center;
  font-family: "幼圆";
  color: white;
  display: flex;
  justify-content: center;
}
.phone-title .title-menu {
  width: 100%;
  display: flex;
  font-size: 1rem;
  position: relative;
}
.phone-title .title-menu div {
  height: 2.5rem;
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
[v-cloak] {
  display: none;
}
.title .title-menu {
  width: 900px;
  display: flex;
}

.title .title-menu div {
  height: 2.5rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.active {
  box-shadow: 0 -0.25rem 0 0 white inset;
}
.font-one {
  font-size: 2.5rem;
}
.font-two {
  font-size: 1.5rem;
}
.analysis {
  width: 900px;
  margin: 3rem auto;
  position: relative;
  display: flex;
}
.ana-left {
  width: 15%;
  background-color: white;
}
.ana-left-phone {
  width: 100%;
  display: flex;
}
.ana-left-phone .left-menu {
  width: 20%;
  display: flex;
}
.ana-left-phone .left-menu div {
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  background-color: #ff8c69;
  color: white;
}
.ana-left-phone .left-menu .act {
  background-color: #ff6a6a;
}

.ana-left .left-menu div {
  padding: 0.5rem 0;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 0.85rem;
}
.ana-no {
  box-shadow: 0.2rem 0 0 0 rgba(0, 0, 0, 0.25) inset;
}
.ana-active {
  box-shadow: 0.2rem 0 0 0 rgba(255, 140, 105, 1) inset;
}
.ana-right {
  /* position: absolute;
top: 0;
left: 15%;  */
  width: 85%;
  background-color: white;
  box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.1) inset;
  padding: 1rem;
  box-sizing: border-box;
}
.ana-right-phone {
  width: 100%;
  background-color: white;
  padding: 1rem;
  box-sizing: border-box;
}
.ana-right .input,
.ana-right-phone .input {
  width: 80%;
  margin: 0 auto;
  border: gainsboro solid 1px;
  padding: 0.3rem 0.5rem;
  border-radius: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ana-right-phone .input {
  width: 100%;
  box-sizing: border-box;
}
.ana-right .explain,
.ana-right-phone .explain {
  width: 82%;
  margin: 1rem auto;
  font-size: 0.85rem;
  color: rgba(0, 0, 0, 0.5);
}
.ana-right-phone .explain {
  width: 100%;
}
.ana-right .error,
.ana-right-phone .error {
  width: 82%;
  margin: 1rem auto;
  font-size: 0.85re;
  color: rgba(238, 59, 59, 0.75);
}
.ana-right-phone .error {
  width: 100%;
}
.ana-right .degrees,
.ana-right-phone .degrees {
  width: 82%;
  margin: 1rem auto;
  font-size: 0.85re;
}
.ana-right-phone .degrees {
  width: 100%;
}
.ana-right .input img,
.ana-right-phone .input img {
  width: 1.5rem;
  height: 1.5rem;
}
.ana-right .input input,
.ana-right-phone .input input {
  width: calc(100% - 2rem);
  font-size: 1rem;
  border: none;
  outline: none;
}
.contan {
  /* width: 900px;
  margin: 3rem auto; */
  background-color: white;
  border-radius: 1rem;
}
.contan .contan-title {
  height: 2rem;
  width: 12rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  line-height: 1.5rem;
  padding: 0.25rem 1rem;
  box-sizing: border-box;
}
.line {
  width: 100%;
  height: 0.1rem;
  color: black;
}
.title .english {
}
.analysis {
}
.ana-left {
}
.ana-right {
}
#analysis {
}
#loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading .content {
  transform: translateY(-100%);
  text-align: center;
  font-size: 0.85rem;
  color: #515151;
}
#loading .content img {
  width: 3rem;
  height: 3rem;
  animation: round 1s linear infinite;
}
@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.explain-me {
  position: relative;
  background-color: white;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.85rem;
  padding: 2rem;
  box-sizing: border-box;
}
.explain-me-width {
  width: 900px;
  margin: 3rem auto;
}
.explain-me-w {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}
.pf {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 998;
}
.phone-pad {
  padding: 0.5rem;
  box-sizing: border-box;
}
